name: CI
on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: 3.6
          env:
            TOXENV: py36
        - python-version: 3.7
          env:
            TOXENV: py37
        - python-version: 3.8
          env:
            TOXENV: py38
        - python-version: 3.9
          env:
            TOXENV: py39
        - python-version: "3.10"
          env:
            TOXENV: py310
        
        # PyPY
        - python-version: pypy3
          env:
            TOXENV: pypy3
            PYPY_VERSION: 3.6-v7.2.0

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run tests
      env: ${{ matrix.env }}
      run: |
        if [[ ! -z "$PYPY_VERSION" ]]; then
          export PYPY_VERSION="pypy$PYPY_VERSION-linux64"
          wget "https://downloads.python.org/pypy/${PYPY_VERSION}.tar.bz2"
          tar -jxf ${PYPY_VERSION}.tar.bz2
          $PYPY_VERSION/bin/pypy3 -m venv "$HOME/virtualenvs/$PYPY_VERSION"
          source "$HOME/virtualenvs/$PYPY_VERSION/bin/activate"
        fi
        pip install -U tox
        tox

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
